@model Lab01_1252016_1053016.Models.Jugador
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Jugadores", FormMethod.Post))
{
    <p>
        <h3>Nombre del jugador</h3>
        @Html.TextBoxFor(x => x.Nombre)
    </p>
    <p>
        <h3>Apellido del jugador</h3>
        @Html.TextBoxFor(x => x.Apellido)
    </p>
    <p>
        <h3>Salario del jugador</h3>
        @Html.TextBoxFor(x => x.Salario)
    </p>
    <p>
        <h3>Posicion del jugador</h3>
        @Html.TextBoxFor(x => x.Posicion)
    </p>
    <p>
        <h3>Club del jugador</h3>
        @Html.TextBoxFor(x => x.Club)
    </p>
    <p>
        <input type="submit" name="Ingresar" value="Ingresar a lista" />
    </p>
}


