@model Lab01_1252016_1053016.Models.Jugador

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Seleccione delete para borrar o Back to list para regresar</h3>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <h3>Nombre del jugador</h3>
            @Html.Label(Model.Nombre)
        </p>
        <p>
            <h3>Apellido del jugador</h3>
            @Html.LabelFor(model => model.Apellido)
        </p>
        <p>
            <h3>Salario del jugador</h3>
            @Html.DisplayFor(model => model.Salario)
        </p>
        <p>
            <h3>Posicion del jugador</h3>
            @Html.DisplayFor(model => model.Posicion)
        </p>
        <p>
            <h3>Club del jugador</h3>
            @Html.DisplayFor(model => model.Club)
        </p>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

