@model LinkedList<Lab01_1252016_1053016.Models.Jugador>
@{
    ViewBag.Title = "NETSuccess";
}

<h2>NETSuccess</h2>
<h3> Lista de jugadores</h3>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Nombre</th>
        <th>Apellid</th>
        <th>Posicion</th>
        <th>Salario</th>
        <th>Club</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@Model.ElementAt(i).Nombre </td>
            <td>@Model.ElementAt(i).Apellido </td>
            <td>@Model.ElementAt(i).Posicion </td>
            <td>@Model.ElementAt(i).Salario </td>
            <td>@Model.ElementAt(i).Club </td>
        </tr>
    }
</table>


